<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="../public/style.css">
    <title>Meeting App</title>
</head>
<body id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <img src='../public/menu_white_24dp.svg' alt='menu' class="nav__toggle" id="nav-toggle">
                    <a href="#" class="nav__logo">1805648</a>
                </div>
                <div class="nav__list">
                    <a href="/" class="nav__link active">
                        <img src='../public/home_white_24dp.svg' alt='home'id="home">
                        <span class="nav__name">Home</span>
                    </a>
                    <a href="/aboutme" class="nav__link">
                        <img src='../public/face_white_24dp.svg' alt='face'>
                    <span class="nav__name" >About Me</span>
                    </a>

                    
        </nav>
    </div>

    <div class="parent">
        <div class="child1">
            <h1>ABOUT ME</h1>
        </div>

        <div class="child3">
            
           <p>
            Name: ASHUTOSH SAHAY <br>
            Roll: 1805648 <br>
            Github profile: <a href='https://github.com/ashutosh0308'>https://github.com/ashutosh0308</a><br>
            Skills: HTML, JS, CSS, C++, Python, Data Science <br>

           </p>
           <p>
               Projects: <br>
               <ol>
                   <li>My Portfolio/personal website: I am a 3rd year CSE undergad student looking for opportunities</li>
                    <li>Some project</li>
                    <li>Some other Project</li>
                </ol>
           </p>


        </div>
        <script src="../public/app.js"></script>
</body>
</html>